.clearfix {
  overflow: auto; 
}
.heading-group-h1 { 
  float: left; 
}
  
h1 { 
  font-size: 3em;
}
  
h2 { 
  font-size: 2em;
}

nav {
  position: relative;
}

.icon-menu {
  position: absolute;
  right: 0vw;
  font-size: 3em;
}

nav a {
  text-decoration: none; 
  color: grey; 
}


.nav-menu {
  margin: 0; 
  padding: 0;
  display: none;  
}
li {
  display: inline-block; 
  width: 100%; 
  border-bottom: black solid 1px; 
  margin: 0;
  padding: .3em 0; 
}
article div {
  color: grey; 
  font-style: italic; 
}
article address a {
  text-decoration: none; 
  color: grey; 
}
time, address {
  display: inline; 
}

main {
  padding: 0em 1em;
}

body > header {
  padding: 0em 1em;
}

img {
  display: block;
  padding: 1em;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) { 
  .icon-menu {
    display: none;
  }
  .heading-group-h1 { 
    width: 100%; 
  }
  .nav-menu {
    display: block; 
    width: 100%; 
  }
  .nav-menu li {
    display: inline; 
    padding: .3em 2em; 
    border: none; 
  }

  main {
    padding: 0em 3em;
  }
  
  body > header {
    padding: 0em 3em;
  }
} /* end of wide screen formatting */ 